body{
  margin:0;
  padding:0;
  font-size: 16px;
  color: #FFF;
  font-family: 'Lilita', sans-serif;
  background-color: #000;
  overflow: hidden;
}

.loader{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #06424a;
  position: absolute;
  z-index: 1000;
}

#canvas{
  position: absolute;
  top : 49%;
  left : 49%;
}



.bubbleLoader{
  position: absolute;
  top : 49%;
  width: 30px;
  height: 30px;
  border : 1px solid white;
  border-radius: 100%;
  animation : bubbleBursting 1s infinite;
  animation-timing-function :cubic-bezier(0.46, 1.07, 1, .76);
}

.index01{left : 46%;animation-delay: 0s;}
.index02{left : 49%;animation-delay: .2s;}
.index03{left : 52%;animation-delay: .4s;}

@keyframes bubbleBursting {
  0%{
    top : 49%;
  }
  20%{
    top : 45%;
  }
  50%{
    top : 49%;
  }
}

header{
  width : 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  background: url(../images/ocean.png);
  background-size: cover;
  transition: all .6s;
}

.sunray{
  opacity: 0;
  position: absolute;
  top : 0%;
  left : 30%;
  width : 40%;
  height: auto;
  transform-origin: top;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.index1{animation-name: sunrayMovingLeft;animation-delay: 0s;animation-direction: normal;}
.index2{animation-name: sunrayMovingLeft;animation-delay: 2s;animation-direction: alternate;}
.index3{animation-name: sunrayMovingLeft;animation-delay: 4s;animation-direction: reverse;}
.index4{animation-name: sunrayMovingRight;animation-delay: 1s;animation-direction: normal;}
.index5{animation-name: sunrayMovingRight;animation-delay: 3s;animation-direction: reverse;}
.index6{animation-name: sunrayMovingRight;animation-delay: 5s;animation-direction: normal;}

@keyframes sunrayMovingLeft {
  0%{
    opacity: 0;
    transform:rotate(0deg);
  }
  50%{
    opacity: .7;
    transform:rotate(50deg);
  }
  100%{
    opacity: .2;
    transform:rotate(0deg);
  }
}
@keyframes sunrayMovingRight {
  0%{
    opacity: 0;
    transform:rotate(0deg);
  }
  50%{
    opacity: .7;
    transform:rotate(-50deg);
  }
  100%{
    opacity: .2;
    transform:rotate(0deg);
  }
}

.axelViskovicContainer{
  width : 50%;
  height: 50%;
  position: absolute;
  bottom : 30%;
  left : 5%;
}

.axelViskovicContainer h1{
  font-size: 100px;
  color : white;
  margin-bottom: 20px;
  letter-spacing: 10px;
}

.axelViskovicContainer h2{
  font-size: 20px;
  color : white;
  letter-spacing: 3px;
}

#logoHetic{
  width : 200px;
  height: auto;
  margin-bottom: 20px;
}

.tabListContainer{
  position: absolute;
  top : 10%;
  right : 0%;
  width : 30%;
  height: 60%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  animation: tabListMoving 1.4s;
  animation-timing-function: ease-in-out;
}

.tabListContainer a{
  color : white;
  text-decoration: none;
}

.imgAxelContainer{
  width : 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100%;
}

.imgAxelContainer img{
  width: 200px;
  height: 200px;
}

#portfolioTab,#contactTab a,#cv a{
  cursor: pointer;
  margin: 0px;
  animation: spacingTab 1.4s;
  animation-fill-mode: forwards;
  letter-spacing: 4px;
}
#portfolioTab:hover,#contactTab a:hover,#cv a:hover{
  transition: all .5s;
  color : #FDE47F;
}

@keyframes tabListMoving {
  0%{
    top : 105%;
    opacity: 0;
  }
  100%{
    top : 10%;
    opacity: 1;
  }
}

@keyframes spacingTab {
  0%{
    margin : 0px
  }
  70%{
    margin: 0px;
  }
  100%{
    margin : 15px;
  }
}

.scrollArrowContainer{
  position: absolute;
  bottom : 0%;
  right : 0%;
  width : 100%;
  height: 20%;
  cursor: pointer;
}

.arrowContainer{
  overflow: hidden;
  position: relative;
  bottom : 0%;
  right : 0%;
  width : 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollArrowBackground{
  position: absolute;
  bottom : 102%;
  right : 0%;
  width : 100%;
  height: 100%;
  background-color: white;
  opacity: .7;
  transition: all .4s;
  z-index: 4;
  border-radius: 100%;
}

.arrowContainer h3{
  font-size: 20px;
  color : white;
  z-index: 10;
  transition: all .4s;
}

#arrowScroll{
    width: 50px;
    height: 50px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    transform: rotate(-45deg);
    z-index: 10;
    transition: all .4s;
}


/* PORTFOLIO */

.portfolioContainer{
  padding-top: 50px;
  width : 100%;
  height: 1700px;
  background:linear-gradient(#06424a,#000);
  /* background: url(../images/bg.png);
  background-size:cover; */
  cursor: url(../images/curseur.png),pointer;
}

#titlePortfolio{
  color : white;
  font-size: 50px;
  text-align: center;
  margin : 0px;
}

.projectContainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project{
  border-radius: 40px;
  margin-top : 30px;
  width : 600px;
  height: 300px;
  background-color: red;
  overflow: hidden;
  position: relative;
}

.imgProject{
  position: absolute;
  top : 0%;
  left : -20%;
  width : auto;
  height: 430px;
}

.titleProject{
  position: absolute;
  width : 600px;
  height: 300px;
  top : 75%;
  transition: all .4s;
  background-color: white;
  opacity: .8;
}

.titleProject h1, .titleProject h3{
  margin-left : 10px;
  color : black;
}

/* BULLES */

.bubble{
  width : 20px;
  height: 20px;
  border : 1px solid white;
  border-radius: 100%;
  position: absolute;
  animation: bubbleMoving;
  animation-fill-mode: forwards;
}

.miniBubble{
  width : 8px;
  height: 8px;
  border : 1px solid white;
  border-radius: 100%;
  position: absolute;
  animation: bubbleMoving;
  animation-fill-mode: forwards;
}

@keyframes bubbleMoving {
  0%{
    top :;
  }
  90%{
    opacity: .8;
  }
  100%{
    top : 0%;
    opacity: 0.3;
  }
}


footer{
  height: 200px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color : #fff;
}


/* TELEPHONE */

@media screen and (max-width: 630px) {
  .project {
    width : 500px;
  }
}

@media screen and (max-width: 520px) {
  .project {
    width : 400px;
  }
}
